*.o
/cplot
*.dblite
/TODO

*.swp
*.cc_
*.h_
*~

/Gallery/
/User Gallery/

/gch.pyc
*.gch

/gmon.out
Windows/boost/*
Windows/Build/*
Windows/zlib/sln/

### Visual Studio stuff ###
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.psess
*.vsp
*.vspx
*.sap
