####### Linux build #######
/build_*/
/build.ninja
/PKGBUILD
/cplot
/gmon.out

###### Windows build ######
Windows/boost/*
Windows/Build/*
Windows/zlib/sln/

########## Misc ###########
/TODO
/stuff/
/homepage/
*.swp
*.cc_
*.h_
*~

###### Visual Studio ######
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.psess
*.vsp
*.vspx
*.sap
